[2018-10-28 19:01] damassi opened #8 "[RFC] Property aliases"
@alloy - based on this comment: https://github.com/artsy/reaction/pull/1466#discussion_r228749111

Wondering if you have any thoughts on adding some property aliases so that things are a bit less verbose? Something like:

[code]
could also be written like
[code]
or
[code]
being used like
[code]

Same goes for `lessThan` -> `lt`.

 Having the ability to use both would be a nice touch I think.

cc @

[2018-11-06 12:13] #8 closed, assigned to nobody

[2018-11-08 14:02] alloy opened #14 "Remove dependency on styled-components"
For us at Artsy this dependency is fine, but it’s not like this library makes heavily use of it, so to be more agnostic a patch to remove the styled-components dependency would be appreciated.

[2018-11-09 20:47] alloy opened #19 "Issue with styling being applied to incorrect Media instance."
When server-side rendering [all these breakpoints](https://github.com/artsy/reaction/blob/66a89fe815436a05c710f890de18a5d07e5ae87f/src/Apps/Order/Components/TwoColumnLayout.tsx#L39-L44), the following CSS:

[code]

…and these 2 styled divs are emitted:

<img width="1152" alt="screenshot 2018-11-09 at 21 40 13" src="https://user-images.githubusercontent.com/2320/48287308-bb9a8d80-e468-11e8-84c2-c65

[2018-11-11 00:48] #14 closed, assigned to nobody

[2018-11-11 22:35] alloy opened #24 "Make Media breakpoint props mutually exclusive"
Seems like making `Media` a SFC and use overloading to only support one at a time: https://github.com/Microsoft/TypeScript/issues/9703

[2018-11-11 22:53] alloy opened #25 "Make a final call on the deprecation path for `Responsive` in Reaction"
There are currently still cases where`Responsive` is needed for some non-layout decisions. We should decide how we want to handle these before we really try to get rid of its usage.

[2018-11-11 22:54] alloy opened #26 "Write guide for README repo that outlines process of writing responsive components"
1. Use styled-system’s responsive props when layout only slightly adapts (TODO come up with better terminology for this)
2. When design changes in a way that’s not solvable by responsive props, use `Media` API, but on the component nearest to the leaf of the tree.
3. Add a link to the README guide in the `Responsive` deprecation warning.

[2018-11-11 22:56] #19 closed, assigned to nobody

[2018-11-12 15:24] alloy opened #28 "WebKit bug with `display: contents`"
There’s [a bug in WebKit](https://bugs.webkit.org/show_bug.cgi?id=188259) (Safari 11 & 12) that makes it so content that has been displayed with `display: contents` never hide again when `display: none` is applied afterwards. (A reproduction can be found [here](https://codepen.io/alloy/pen/rQWmYG)).

Either way, currently this feature isn’t supported on [the current Edge browser](https://caniuse.c

[2018-11-12 21:16] #28 closed, assigned to nobody

[2018-11-13 20:06] alloy opened #32 "Add example that constrains SSR for mobile devices based on user-agent"
Using a list of user-agents/device-sizes like [this](https://github.com/mozilla/simulated-devices), we want to be able to limit SSR to _just_ what the device needs.

It could be nice to add a small function to the API that gives you the list of breakpoints for a given device width. Might be overkill, though, as it’s also easy to write that function in your app based on your own list of breakpoints

[2018-11-14 17:29] ashfurrow opened #34 "Open source this repo"
This repo is closed right now, and it should be opened as soon as we can. Artsy practices Open Source by Default which, [as described here](https://github.com/artsy/exchange/issues/10) means that our stuff should be open unless there's a reason to keep it secret.

A common response from Artsy engineers when I open this kind of ticket is "we just want to clean up the code before opening it up", to

[2018-11-16 23:36] #32 closed, assigned to nobody

[2019-01-07 14:43] alloy commented on #34
Yep, sure 👍

[2019-01-07 14:43] #34 closed

[2019-01-31 17:31] damassi opened #66 "Possible issue with `interaction` prop in Media component"
While working in Reaction yesterday I attempted to replace our deprecated `<Responsive>` component with the new `<Media>` component, which specifically guarded against favoriting interactions unless `hover` was enabled in the browser. Something like:

[code]

However, when hovering the guarded component would not appear, though it _was_ written to the dom with `display: none`. Toggling that value

[2019-05-21 10:11] alloy opened #77 "Rename to have a better branded name and [let's be honest] is cuter"
_In response to https://github.com/artsy/artsy.github.io/pull/574#discussion_r282281700 and to unblock https://github.com/artsy/artsy.github.io/pull/566#issuecomment-494230497_

How about `@artsy/fresnel`?

– https://en.wikipedia.org/wiki/Fresnel_equations

Or there may be other names to be found in the sphere of reflection (response) https://en.wikipedia.org/wiki/Reflection_(physics)

[2019-05-21 10:55] ds300 commented on #77
fresnel is great :+1:

[2019-05-21 16:13] alloy opened #78 "Suppress hydration warning for Media components that do not match"
On the client-side, when we do dynamic media matching, we should add the `suppressHydrationWarning` prop to wrapper elements that will be left empty.

[2019-05-21 18:11] alloy commented on #77
TODO:

- [ ] Rename git repo
- [ ] `npm deprecate @artsy/react-responsive-media`
- [ ] Release a patch version to ensure the renaming worked properly.
- [ ] Release v1

[2019-05-21 18:11] alloy commented on #77
@zephraph Anything additional we need to do re renovate?

[2019-05-21 20:22] damassi commented on #77
Reminds me of a cute little 🐻

[2019-05-22 00:45] renovate[bot] opened #80 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Repository problems

Renovate tried to run on this repository, but found these problems.

 - WARN: Using npm packages for Renovate presets is now deprecated. Please migrate to repository-based presets instead.

## Pending Approva

[2019-05-22 06:37] damassi commented on #78
We'll need to play with this once the new examples are merged; in my simple one this warning isn't thrown.

However -- I _did_ try to fix for the other main example and couldn't figure it out.

[2019-05-22 09:17] alloy commented on #78
Yeah the first time around when I figured I'd add it, I had a hard time replicating it in tests and figured it was’t necessary, but then when pairing with @kierangillen we found an example of a warning which did go away when we added the prop. I was wondering if perhaps a newer React version was throwing more warnings? 🤔

Will find the existing example in Force and try to isolate it.

[2019-05-22 09:39] alloy commented on #77
@damassi I’m unsure what that’s in reference to… 😞 Care to fill me in?

[2019-05-22 16:27] zephraph commented on #77
@alloy nope, not that I'm aware of.

[2019-05-22 16:50] damassi commented on #77
oh haha I just meant i like the name! it's cute

[2019-05-22 17:45] #78 closed

[2019-05-22 19:23] artsyit commented on #78
:rocket: Issue was released in v2.0.3 :rocket:

[2019-05-22 19:23] artsyit commented on #78
:rocket: Issue was released in v2.0.3 :rocket:

[2019-05-24 12:36] alloy commented on #77
Whoops

[2019-05-24 12:52] alloy commented on #77
Ok, this is all done. Only thing that remains is to publish a v1, but I’ll leave that up to y’all.

[2019-05-24 12:52] #77 closed

[2019-05-28 14:32] alloy opened #91 "[example] Address client-hints"
We can sometimes use client-hints to limit what the server needs to render, when the viewport dimensions are included.

https://developers.google.com/web/updates/2015/09/automating-resource-selection-with-client-hints

Perhaps something we can implement in Reaction too.

[2019-05-29 11:42] kevinegstorf commented on #26
Can I be of assistance to pick-up this issue?

[2019-05-29 12:47] alloy commented on #26
Heyy buddy! Thanks for offering, but this one is probably a bit specific to Artsy.

[2019-05-29 12:51] kevinegstorf commented on #26
ok tnx

[2019-08-20 12:53] osphost opened #95 "Option to disable SSR"
First I'd like to say thank you for this library and its unique approach to solving SSR media-queries.

I'm wondering if its possible to add a prop option to disable SSR rendering for improved performance and a more concise API. In portions of my site I know that certain components will only be rendered on the client. For these components rather than rendering all breakpoint possibilities I'd like

[2019-09-02 11:31] alloy commented on #95
Hey, thanks for the kind words and taking the time to write your suggestion! Sorry for the delay in the response, I was out for vacation and still catching up with notifications.

As for the actual proposal, I’m on the fence about how/if to do this. I’m afraid that providing a way to do conditional rendering inside a `Media` component (by providing a boolean prop, as per your example) would setup

[2019-09-02 11:31] alloy commented on #95
cc @damassi @zephraph

[2019-09-05 00:17] damassi commented on #95
I agree that this would be good to investigate! However, something along the lines of

[code]

is probably the best approach, and could be easily abstracted.

[2019-10-03 16:56] Emiliano-Bucci opened #101 "Doubt about content duplication"
Hello! I was testing this lib, which i found awesome :) But i was wondering something: inspecting the `server html` response (inspect page source) i've noticed that there's a lot of duplicated elements. Could be this a SEO problem?

Thanks for your time :)

[2019-10-05 18:47] elainegasca commented on #101
As they said before in the project description:

About your cuestion, yes, it can be bad for the SEO. I was thinking the general purpose of use  @artsy/fresnel is use in specific responsive parts of your application, like navbar (like show hamburguer icon or hidden), things like that.Would be wonderful an artsy guy agree with that.

I wish this answer was helpful to you.
Regards.

[2019-12-03 10:21] mitko993 opened #103 "Doesn't work on Internet Explorer"
Hello,

I tried the examples and they do not work on Internet Explorer v11. I am using this package in production and recently i discovered this which is a very big problem for me.
Unfortunately i do not have more information about the root cause of this issue.

Best regards,
Mitko

[2019-12-03 10:25] mitko993 commented on #103
Sorry!

My mistake, your examples do work on IE. I just needed polyfill for object.entries. Which means my problem is somewhere in my solution.

I will close this.

[2019-12-03 10:25] #103 closed

[2019-12-24 04:47] thanhngvpt opened #106 "Need a Nextjs example"
hi all.
This repository is awsome work, but how can i intergrate with Nextjs.

[2019-12-30 11:38] alloy commented on #101
I don’t have any links handy (@zephraph @damassi perhaps you can dig up some), but from what I recall at the time, the question of this being penalised was questionable.

Nonetheless, the direction we were going in was to simply render a single breakpoint for crawlers, but _importantly_ one that does also get served to [mobile] users so it isn’t considered cloaking. Which we’d do by setting the [`

[2019-12-30 11:40] alloy commented on #106
Perhaps @damassi @zephraph can chime in on this at some point, but if you figure it out in the meantime then please do send a PR for an example app! 🙏

[2019-12-31 21:03] #106 closed

[2019-12-31 21:03] damassi commented on #106
@thanhngvpt - Added in https://github.com/artsy/fresnel/pull/108! Let me know if you have any other questions.

[2019-12-31 21:09] #95 closed

[2019-12-31 21:10] #26 closed

[2019-12-31 21:36] damassi commented on #106
(Also, first time to use Next -- 👏👏. They've put together something very nice right out of the box.)

[2020-01-02 21:00] zephraph commented on #101
We're still considering isolating down what the crawler sees based on which breakpoint it should have. Still, this is considered an optimization and not a requirement.

Internally we have little concerns about this approach being confused by Google with keyword stuffing. This components use CSS that's disabled on breakpoints (meaning it's not always hidden) and it's _actual_ content. If you have s

[2020-01-03 14:40] alloy commented on #101
While nothing definitive, I feel like the question has been answered as good as we could do.

@zephraph Oh… I wanted to close the issue, but looks like I also have no such access on this repo any longer.

[2020-01-03 14:42] #101 closed

[2020-01-24 09:06] madhur77 opened #110 "Adding an extra div @ the breakpoint"
Is there a way to avoid extra div at the breakpoint

[2020-01-28 01:17] mark2685 opened #111 "Mocking `matchMedia` in jest causes component tree not to render"
Mocking `matchMedia` in Jest causes children of `<Media />` components not to render.

In our application we have a `useMedia()` hook which uses `matchMedia`. In order to test, we've mocked this in our Jest setup file (similar to [this](https://jestjs.io/docs/en/manual-mocks#mocking-methods-which-are-not-implemented-in-jsdom)). But when testing (using [`testing-library`](https://github.com/testing

[2020-01-28 05:27] damassi commented on #111
Hi @mark2685 - Have you tried something [like this](https://github.com/ReactTraining/react-media/issues/93#issuecomment-486961116)?

[2020-01-28 18:08] mark2685 commented on #111
That worked! Thanks for the quick response, @damassi.

[2020-01-28 18:08] #111 closed

[2020-02-01 07:40] mythril opened #112 "Orientation Documentation?"
I was wondering how to do an orientation query with the library?

[2020-02-10 18:41] jdesherlia opened #113 "ClassName prop not working as expected"
Hi there. Love this library, and am currently feverishly ripping out react-media and replacing it with fresnel in my project. However, I have noticed that the `className` prop doesn't seem to work as expected.

When I pass something like `<Media className="column tile is-parent is-vertical" ... >` it ends up creating a div with all of the built-in fresnel classes and a few additional that look lik

[2020-02-10 18:47] damassi commented on #113
HI @jdesherlia - I'll give this a look later today.

[2020-02-11 01:54] damassi commented on #113
Fixed in https://github.com/artsy/fresnel/pull/114

[2020-02-11 02:01] damassi commented on #112
Hi @mythril - check out the `createMedia` api docs [here](https://github.com/artsy/fresnel#createmedia). Orientation can be passed into `interactions` by key, and then checked against like so:

[code]

[2020-02-11 02:01] #112 closed

[2020-02-11 02:21] damassi commented on #110
@madhur77 - indeed it is!

[code]

I've updated the docs [here](https://github.com/artsy/fresnel/pull/114/commits/75af0e0633323e5fbe6fe257805721083d81a08e).

[2020-02-11 02:21] #110 closed

[2020-02-11 02:30] #113 closed

[2020-02-11 02:53] jdesherlia commented on #113
@damassi thanks for the quick turnaround. I'll pull this now and check it out.

[2020-02-11 04:52] damassi commented on #80
Going to close this and update via `yarn`

[2020-02-11 04:54] damassi commented on #25
For reference:
<img width="415" alt="Screen Shot 2020-02-10 at 8 53 38 PM" src="https://user-images.githubusercontent.com/236943/74212090-6e96ff80-4c47-11ea-9f9f-2d820aa33b54.png">

[2020-02-11 05:16] damassi commented on #66
Just checked the `interactions` prop in example app and all good. Closing.

[2020-02-11 05:16] #66 closed

[2020-03-10 07:35] jdesherlia opened #125 "matchMedia doesn't seem to be working with mediaClassNames"
Hey All,

When trying to use the method described for passing `mediaClassNames` to my own components in order to avoid the extra div, it seems that all content is always present.  I was under the impression that an eventListener and call to matchMedia should be selectively rendering only the matching components after rehydration. Is this a bug or am I mistaken as to how this should be working?

Al

[2020-04-11 18:15] damassi commented on #125
@jdesherlia - mind pasting a snipped of code for what you're trying to do?

[2020-05-01 22:09] angiecortez opened #127 "Styled-components"
Hi, how can I implement with styled components
[code]

[2020-05-01 22:17] damassi commented on #127
Hi! Because of the declarative nature of Fresnel this isn't totally straightforward, but the work around isn't so bad:

[code]

[2020-05-01 22:17] #127 closed

[2020-05-01 22:58] damassi commented on #125
Feel free to reopen if this is still an issue

[2020-05-14 17:20] rajington opened #132 "Intelligently SSR Responsive Children of Responsive Parents"
tweaking the basic example
[code]
it actually renders `foo` twice and `bar` twice:
[code]

but wouldn't it be possible to know that the second `foo` would never be visible?

this multiplicative growth could even make some trees larger than simply rendering the entire tree for each breakpoint on the server (also allowing the benefit that lower components can use the current breakpoint as a prop rat

[2020-05-14 18:14] damassi commented on #132
Hi @rajington - we discuss this in the [pros and cons](https://github.com/artsy/fresnel#pros-vs-cons) section of the readme, as well as in [our blogpost](https://artsy.github.io/blog/2019/05/24/server-rendering-responsively/). In short:
- We can't know ahead of time what breakpoint will be matched, because a server doesn't have a display, and thus can't utilize matchMedia so we send down all break

[2020-05-14 20:51] rajington commented on #132
Thanks for the quick response (and this awesome library!). Apologies if I'm not understanding the README correctly or explaining my thoughts correctly. I really appreciate the approach this library takes to SSR by shipping both, this top-level one makes sense:
[code]
but could we leverage context so that instead of:
[code]
it renders
[code]
instead?

assuming this is the react tree from the first

[2020-05-19 02:22] damassi commented on #132
This makes sense! If you have time would happily evaluate a PR, but agree this is a great suggestion.

[2020-05-27 19:02] marcianosr opened #135 "Orientation media query"
Hi,

I'm using this package and I stumbled upon weird behaviour defining interactions. I took over the docs example:

[code]

Assuming that this would work like this:

[code]

However, it is working the other way round which had me switch the interactions config up:

[code]

It seems that, looking at the docs, this is not intentional and a bug.

[2020-05-28 09:41] alloy commented on #132
Nice, great suggestion 👌

[2020-05-28 09:49] alloy commented on #135
Yikes, thanks for reporting! There’s a lot of negation that happens when actually defining these media rules, so that might be where it’s going wrong.

@damassi let me know if you need a second pair of eyes on fixing this.

[2020-05-29 07:23] marcianosr opened #136 "Render props pattern"
Hi!

I was wondering what was the best approach for testing React components along with <Media> using the render prop pattern :)

Consider this:

[code]

Works perfectly in the browsers and in writing tests _without_ the render prop pattern, I can test if certain elements are visible nicely, however when using the render prop, it doesn't work anymore. Is there any way to solve this?

Thanks!

[2020-05-29 07:43] damassi commented on #136
Hi @marcianosr - check out our tests [here](https://github.com/artsy/fresnel/blob/master/src/__test__/Media.test.tsx#L239) for an example.

[2020-05-29 07:43] #136 closed

[2020-06-03 08:10] fvpDev commented on #135
Waiting for fix in order to implement this :)

[2020-06-05 00:33] zephraph commented on #135
Thanks for reporting! I'm looking into this and will report back when I have updates or a fix. 👍

[2020-07-06 15:21] karol-majewski opened #141 "Make invalid states unrepresentable"
Hello and thank you for your work!

I really like the API of your `Media` component. I think I know how we can improve its type safety.

**Problem**

Let's assume we're using 4 breakpoints: `['sm', 'md', 'lg', 'xl']`.

With breakpoints like these, the following states look like mistakes:

[code]

**Solution**

Tuple operations are easier in the upcoming TypeScript 4. If we could redefine `B` to be

[2020-07-06 15:44] karol-majewski commented on #141
Note: if we want to be _really_ pedantic, the accepted props should never accept both `at` and `between`. Or and invalid combination of `lessThan` and `greaterThan`. Instead, `Props` should be a union.

[code]

(But since props-as-a-union cause a lot of problems, this may be just over the top.)

[2020-07-06 19:22] alloy commented on #141
That’s wicked dope 🤩

I would love to see what the change looks like, but can’t speak for Artsy’s bandwidth [as I no longer work there] and if a breaking change right now is possible for them. Very considerate of you to ask first, though.

As for the accepted props, [I agree](https://github.com/artsy/fresnel/issues/24), but did seem like too much at the time. Ideally it should be fixed imo, though

[2020-07-13 14:59] phmasek opened #142 "Media flickering on load"
There are elements shown when loading and then disappearing. Here's [a video](https://links.mlkr.io/fresnel-bug) to demonstrate the issue. I assume it's the CSS media-breakpoints being loaded after the elements are on the site. Any suggestions for how to solve this?

[2020-07-13 17:34] damassi commented on #142
Hi @phmasek would you mind pushing up a small runnable example reproducing your problem that I can `git clone`? Without seeing something more closely it will be hard to identify exactly, but my first hunch is that  -- if you're using SSR rendering features -- your header is missing the required styles as [seen here](https://github.com/artsy/fresnel/blob/master/examples/ssr-rendering/src/server.tsx

[2020-07-13 20:39] phmasek commented on #142
Hi @damassi! You were absolutely correct. I had introduced a bug in my code which did not allow the styles to render inside the head element. This was the issue, and it is working flawlessly after being resolved. Thank you very much, and great job!

[2020-07-13 20:39] #142 closed

[2020-07-13 21:01] damassi commented on #142
Glad to help!

[2020-07-21 17:16] #25 closed

[2020-07-24 14:43] nandorojo opened #144 "Question: effects on performance / SEO?"
First of all, thank you so much for this library. I'm building a [responsive design system for React Native](https://github.com/nandorojo/dripsy) (+ Web) and this project is a life-saver for SSR support and good web integration.

I came across this project here: https://github.com/necolas/react-native-web/issues/1318

I have a question regarding the approach of rendering every breakpoint from the

[2020-07-24 17:33] damassi commented on #144
Hi @nandorojo regarding your questions:

We go into it in more detail in [this blog post](https://artsy.github.io/blog/2019/05/24/server-rendering-responsively/) but we tend to think about using this library sparingly, in places that have radically different layouts that can't be accomodated by media queries. Not that we've seen significant speed issues, but we try to think conservatively about it

[2020-07-24 20:49] nandorojo commented on #144
Thanks so much for the quick response. Great to hear re SEO.

As for the performance / multiple rendering issue, this is probably something I'll have to live with and test over time. The components I'm building are strictly UI primitives and won't have any side effects/network effects. Since I'm using React Native + React Native Web, I can't inject any actual CSS in, so the fresnel API seems like

[2020-07-24 21:11] damassi commented on #144
Np! Feel free to reopen if you have any other questions.

[2020-07-24 21:11] #144 closed

[2020-07-25 23:47] zephraph commented on #135
Hey @marcianosr sorry about the long delay, it's been a busy few months. Could you possibly provide a reproduction that shows this issue?

I've got a minimal codesandbox example [here](https://codesandbox.io/s/fresnel-orientation-test-7ho2t?file=/src/index.js) but according to what I'm seeing it's functioning correctly.

Got any more details? Perhaps what device/browser your testing it on?

[2020-07-26 00:00] zephraph commented on #141
I don't think we can commit anyone to fully taking on the work at the moment, but we're definitely open for pull requests and would be happy to collab on it.

[2020-07-31 00:30] mfanuzzi commented on #135
Hey @zephraph! My team just ran into this one as well, and I think I can help point you towards an answer.

In the codesandbox example you posted, you can see that, in addition to modifying the DOM, the CSS classes `fresnel-interaction-landscape` and `fresnel-interaction-portrait` are being applied (correctly.) But those classes are not defined.

What we noticed, though, is that in our case, those

[2020-07-31 00:32] zephraph commented on #135
Thanks for the sleuthing! I'll dig back into it and see what I come up with.

[2020-07-31 08:12] GuelorEmanuel opened #145 "error TS2769: No overload matches this call."
Hi is it possible to overload the property or if there is a type definition that allows An element type to render as (string or function)? [A working example by Semantic UI React without typescript can be seen here]: https://github.com/Semantic-Org/Semantic-UI-React/blob/master/docs/src/layouts/HomepageLayout.js

[code]

[2020-08-02 16:09] jdesherlia commented on #125
Sorry @damassi got sidetracked for a while and this was an issue but not a blocker. It has since popped up again, and im more concerned that its just causing an oversized DOM. When I do something like the below, the content is never removed from the DOM when the breakpoint isn't matched:

[code]

Here is a screenshot fo this component on a desktop resolution. As you can see the class names get add

[2020-08-02 21:55] damassi commented on #125
To confirm, do you have your root component wrapped in a context provider [as seen here](https://github.com/artsy/fresnel/blob/master/examples/nextjs/src/pages/index.tsx#L4-L9)?

[2020-08-02 23:58] jdesherlia commented on #125
Yes. We are using Gatsby so we wrap our app in gatsby-ssr.js and gatsby-browser.js like this:

[code]

I can also confirm that if I don't render a function inside a media component but instead allow it to generate the fresnal div, it does correctly render only the content for the matching browser size. I think the major difference is the presence of the `fresnal-container` class.

[2020-08-05 13:10] jacargentina opened #146 "Getting error when resizing to mobile"
![Error](https://user-images.githubusercontent.com/517228/89417094-9baf0100-d704-11ea-9e7a-a5e84f31d5ce.gif)

[code]

This is my layout:

`pages/products/index.js`
[code]

`components/ResponsiveContainer.js`
[code]

`components/media.js` 
[code]

[2020-08-05 17:00] damassi commented on #146
Hi @jacargentina - this is common error when combining React with 3rd party JS that is managing the dom independent of the React lifecycle, and isn't related to Fresnel. If you're certain it's an issue with this lib we can look more if you provide a repo with a reproducable example.

[2020-08-05 17:00] #146 closed

[2020-08-05 22:47] jacargentina commented on #146
Thats right! I've found the problem is with using Controller from `react-scrollmagic`. Thanks!

[2020-08-06 02:16] damassi commented on #146
Np! Glad you found the issue 👍

[2020-08-12 13:13] alloy commented on #125
You’re not utilizing the second render-prop parameter described [here](https://github.com/artsy/fresnel/blob/b89c04db0670d0652c7f412cf1d8372d19957ca6/src/Media.tsx#L157) (`renderChildren`). I see it’s not mentioned in the README, which probably caused the confusion. Can your verify that that’s the case?

[2020-08-13 15:59] cmaycumber opened #147 "Match media not removing parent fresnel containers"
### Description
We are using the createMedia API to create an SSR friendly solution in react-native-web. Multiple fresnel parent containers are still rendering in the browser even after the initial mount (Screenshot below).

<img width="550" alt="Screen Shot 2020-08-12 at 4 51 06 PM" src="https://user-images.githubusercontent.com/36460656/90157808-312d3f00-dd5c-11ea-98c8-d0a284365659.png">

Is thi

[2020-08-13 18:04] damassi commented on #147
Hi @cmaycumber - would you mind creating a quick repo with an example of this issue?

[2020-08-13 18:37] cmaycumber commented on #147
@damassi I'll try to get this for you. Completely understand no rush. Would the actual repo with how we're using it help the most? Or would a fresh repo with a copied implementation be better?

[2020-08-13 18:42] damassi commented on #147
If you can tweak one of these example apps thtat would  be best:
- if using [next](https://github.com/artsy/fresnel/tree/master/examples/nextjs)
- if using [vanilla SSR](https://github.com/artsy/fresnel/tree/master/examples/ssr-rendering)

[2020-08-16 03:50] sfordjasiri opened #148 "If you createMedia() with only one breakpoint you cannot display two different components using "lessThan" and "greaterThanOrEqual"."
If you createMedia() with only one breakpoint you cannot display two different components using "lessThan" and "greaterThanOrEqual".

I would have assumed if you want to display only one of two different components, you could define one breakpoint and then use "lessThan" for one Media component and "greatherThanOrEqual" for the other.  But, if you do that, the "lessThan" Media will not be displaye

[2020-08-16 17:51] nandorojo commented on #147
@damassi I reproduced this with the next example you linked to.

You can see a video here: https://www.loom.com/share/c5e8a2b8e335464393e3c2514a5b50b0

As I resize, the children of the Fresnel `div` get unmounted, seemingly by the `match-media` API, but the parent node created by Fresnel stays.

[2020-08-16 18:49] damassi commented on #147
@nandorojo link to gh repo?

[2020-08-16 18:50] nandorojo commented on #147
https://github.com/artsy/fresnel/tree/master/examples/nextjs

@damassi I didn’t make any changes, just used the next example you sent. Thanks for taking a look!

[2020-08-18 22:19] alloy commented on #147
@nandorojo That seems like intended behavior, which is specifically to ensure that SSR rendered content gets hydrated correctly; as React’s naive rehydration might otherwise end up putting children in the wrong parent.

After the first rehydration render, this shouldn’t be necessary any more and could perhaps be improved. Unsure if that’s a big win, but if it’s a simple fix then I see no reason to

[2020-08-18 22:28] nandorojo commented on #147
@alloy That makes sense for the original hydration. I think it could be useful to recycle the other nodes afterwards. Any shot you could point us in the right direction for which file to edit?

[2020-08-19 10:04] alloy commented on #147
@nandorojo Sure thing 👍 [Here](https://github.com/artsy/fresnel/blob/b89c04db0670d0652c7f412cf1d8372d19957ca6/src/Media.tsx#L435-L442) the container gets created with conditional children rendering.

[2020-08-24 01:15] jdesherlia commented on #125
@alloy just had a chance to try this. That worked a treat, thanks! Went through and updated my whole app.

I imagine this will help with our lighthouse score a bit. At least the part about excessive DOM size. :-) Have a great one, and thanks for the awesome package!

[2020-08-24 01:15] #125 closed

[2020-08-24 11:15] alloy commented on #125
Thanks for verifying, I’ve created a PR to expand the README doc https://github.com/artsy/fresnel/pull/151

[2020-08-24 12:01] alloy commented on #24
Seems like functional component overloading does work. See [TS playground sample](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4AocmATzCTgAUcwBnAQTgF44BvcuAXABuKKMBQA7GAC44AIhRyKguEQkATJFADKMAK6ZMsgBQALJABsLEWSxhiJAcwCUXAHxwJeqxQC+lGjpGZhYAIS5efkERMUkZeQAjJSiBNU0dfUMTcysbTz0QBK1XTg8vH3J-Klp6JghWAGEIvhU0rV0DIzgzS2tZBIgIC1QJErLvCz9KTD0JDGAICTgGiDQIYzAQ2TrWNmdZZHQYADp

[2020-08-25 22:05] xiata commented on #147
Somewhat related, I've been experimenting with fragment based rendering where you would need to specify a `fragment` boolean prop on the `Media` tag to render as a fragment instead of a container where it applies the fresnel-* class over child nodes. It's potentially a bit more work for people using it, since all child components must consume the `className` property that the `Media` tag applies a

[2020-08-26 02:40] zephraph commented on #148
This is largely by design. Could you describe your usecase a little bit, or what you're trying to accomplish by having only 1 breakpoint?

[2020-08-26 02:53] sfordjasiri commented on #148
What I am trying to accomplish is having two versions of the UI.  One version for width greater than or equal to X, and one version for width less than X.  I am trying to accomplish that with one breakpoint.

As I showed in the test program, you can accomplish this, but you are forced to define two breakpoints.  In my opinion, defining two breakpoints should not be needed.  As far as I can tell, t

[2020-08-26 02:54] zephraph commented on #145
Hey @GuelorEmanuel, sorry for the long delay, things are pretty busy at Artsy right now 😄.

That's a good suggestion! We can look into doing that. For now the recommended way to overload the Media component is by using the following pattern:

[code]

I'll look into what it'd take to inject the `as` and ensure the correct typings,  but I don't have a time table on that. PRs welcome!

[2020-08-26 02:55] zephraph commented on #141
Hey @karol-majewski I just merged the typescript 4.0 upgrade. I'd be happy to pair w/ you on this sometime. Maybe even could get some of the Artsy crew in on it and make it a party 😄.

[2020-08-26 10:31] alloy commented on #147
Interesting. I would be interested in knowing if something changed in recent React versions that would make this work with rehydration and what version introduced the change; and conversely, does this break in older React versions?

[2020-08-26 10:42] alloy commented on #148
I agree with that being intuitive.

It’s actually more the case that, technically speaking, there is no notion of breakpoints, but rather of viewports. I.e. in this scenario there are 2.

Having said that, naively I wonder if we can just internally add the 0 breakpoint when it is missing; thoughts, @zephraph?

[2020-08-26 10:46] alloy commented on #147
In the meantime, I’m going to close this ticket, as the OP has been addressed.

@nandorojo @xiata Please open new issues specific to your cases 🙏

[2020-08-26 10:46] #147 closed

[2020-08-26 14:44] xiata opened #152 "[Feature Request] Optional container-less rendering by using React.Fragments"
# Feature request

To optionally render by fragments instead of containers with the `<Media />` tag

CSS Flexbox can result in pretty ugly css if you have to deal with multiple optional containers for any given component. It is made worse when another container is thrown in to handle responsiveness can lead to significant headaches driving users away from using this project. I personally created t

[2020-08-26 17:08] damassi commented on #152
Hi @xiata - check out [the docs](https://github.com/artsy/fresnel#media), and specifically the part that mentions `mediaClassNames`; it explains how to render custom elements. Let us know if that doesn't answer the question and we can reopen.

[2020-08-26 17:08] #152 closed

[2020-08-26 18:53] xiata commented on #152
That requires everything to be written in render prop form which I find ugly.

Normally, when written as:
[code]

It renders as:
[code]

With the `fragment` prop causes it to render I've added in my fork:
[code]

Renders:
[code]

I don't have to conditionally check and null the response, nor do I have to wrap the text nodes. To me it's an easier means of being able to switch between two rendering

[2020-08-26 19:22] damassi commented on #152
Ah, I understand now 👍 While using
[code]
is verbose, it would be quite easy to wrap behind a custom component in your project to make it more developer friendly. Part of the utility of ` @artsy/fresnel` is that it exposes these patterns which can be composed into other tools, without much overhead. The renderProps form was introduced for cases similar to what you're describing.

[2020-08-26 20:08] xiata commented on #152
I wouldn't be opposed to either being something you have to import, or part of the documentation for an "easy mode" solution.

E.g. this works with current code, which could be either just in docs or some exported function so it can be tree shaked out,

[code]

Note that I haven't really tested all the edge cases, I pretty much dropped that in, and I was able to continue to use my `<DesktopOrTable

[2020-09-02 12:16] alloy opened #153 "Better structured Fresnel docs"
I think Fresnel is the type of project that could really benefit from better structured docs. Implementation wise it’s a pretty lean lib, but conceptually it does some complex things and the required negation of media queries (which is done for you with breakpoints but you have to do on your own for interactions) doesn’t help.

In any case, I recently found [these docs to technical docs](https://d

[2020-09-02 12:21] zephraph commented on #153
Note for documentation updates:
- Add requirement that there's always a breakpoint of size 0 (maybe add a warning or error)
- Add documentation around negation of all other rules when using orientation interactions

[2020-09-02 12:24] alloy commented on #148
Just had a discussion about this with @zephraph and we concluded that it would be better to not inject a `0` breakpoint automatically as:

1. it’s likely a thing only a few people will run into and we want to keep things as lean as possible; and
2. we don’t want to end up with a situation where people start referring to the default name of that injected `0` breakpoint.

To conclude, we will indeed

[2020-09-02 12:24] #148 closed

[2020-09-02 12:51] alloy commented on #24
Just did an extra check with class based components and constructor overloads; unlike function based components, that does _not_ work.

[2020-09-02 12:59] alloy commented on #153
It will be important to convey that the right way to think about rule implementations is:

* we can only use `display: none` to hide elements that we do _not_ want to show
* so an interaction’s rule implementation must be written to match in all _other_ cases than the one your rule cares about.

i.e. for an interaction rule that wants a container to be _visible in landscape_ you want the implement

[2020-09-03 13:39] karol-majewski commented on #141
Hey @zephraph, love the idea! When would you like to do it? 😄

[2020-09-04 08:57] alloy commented on #141
Yeah, let’s do it!

@orta Perhaps this could be an interesting ‘mob’ session for your TS twitch audience?

[2020-09-04 12:13] orta commented on #141
Yeah, why not, we could schedule for next Saturday? maybe something like 10am EST?

[2020-09-04 12:18] alloy commented on #141
Always a little unsure what English speakers mean by that 😅 You mean tomorrow or Saturday the 12th? Tomorrow I should be able to make.

[2020-09-04 17:47] orta commented on #141
Hah, sure, I mean the 12th

[2020-09-07 12:12] alloy commented on #141
On the 12th I could do until max 11AM EST.

[2020-09-07 14:45] zephraph commented on #141
Saturday would work for me! @karol-majewski how about you?

[2020-09-07 14:49] karol-majewski commented on #141
Works for me!

[2020-09-18 16:27] kartikag01 opened #156 "Loading All JS Chunks for all Screen Size"
Hey, thanks for this great library,
I was doing some POC before updating from `react-responsive`

I found that it's loading JS for all screen sizes even when code splitting is done.

[code]

It's loading both the JS
![image](https://user-images.githubusercontent.com/10574227/93621652-8282bb00-f9f9-11ea-9d9b-f8f8bedf50d0.png)

Is this right, or I am doing something wrong?
Because if we load both th

[2020-09-24 02:19] gonzarascon commented on #146
@jacargentina Hi, how have you  fixed this problem? I'm having this same issue using `react-scrollmagic`

[2020-10-17 20:08] arturbani commented on #156
Hi, @kartikag01

I guess this is right, fresnel will render all breakpoints options on the server-side.

It's in the Cons section in the docs:

If utilizing SSR rendering features, when the markup is passed down from the server to the client it includes all breakpoints, which increases the page size. (However, once the client mounts, the unused breakpoint markup is cleared from the DOM.)

[2020-10-22 13:49] alloy commented on #156
I’m unsure what `dynamic` does, but on client hydration any components that should not be visible should not get mounted. Would it be possible to use something like `React.lazy()` or a similar mechanism that would only import the code when actually needed?

[2020-10-23 09:52] alloy commented on #152
I understand the ask and quite like the API [of adding a `fragment` prop], but the question I raised [here](https://github.com/artsy/fresnel/issues/147#issuecomment-680798286) still stands.

When there’s many sibling `Media` components being used, will React’s rehydration always be able to correctly identify where to add which components? And if it does so today, can we identify which React versio

[2020-10-26 19:16] #132 closed

[2020-10-26 19:18] artsyit commented on #132
:rocket: Issue was released in [`v1.3.0`](https://github.com/artsy/fresnel/releases/tag/v1.3.0) :rocket:

[2020-10-27 14:03] rajington commented on #132
Sorry I didn't submit PR but thanks for implementing @damassi!

[2020-10-27 17:03] alloy commented on #132
It was implemented by @kirkness, but thanks to the both of you for the collaboration that led to this! 🚀

[2020-12-01 18:05] chirag04 commented on #156
I haven't tried it but I guess that's part of the bug where child components that shouldn't be visible are getting mounted. will confirm.

[2020-12-10 23:05] freznosmooth opened #161 "React v17"
My current project is running react 17 and I am unable to install @arsty/fresnel due to a dependency on react 16.3.0.

Any idea when you may be updating this dependency?

Thanks

[2020-12-10 23:14] zephraph commented on #161
Ah! Sorry about that. It's likely given that 17 didn't make breaking changes we can just loosen the coverage to also encapsulate v17. Let me poke at it.

[2020-12-11 00:03] zephraph commented on #161
All right, this was fixed by #162. Let me know if you have any issues.

[2020-12-11 00:03] #161 closed

[2020-12-15 03:08] freznosmooth opened #165 "SSR | Render props gives console warning"
Thanks for the React v17 update, working fine now :)

My Project:
Next.js App implementing SSR as per your example https://github.com/artsy/fresnel/tree/master/examples/nextjs.

When I use the standard component implementation everything works fine.
`<Media at="sm">Hello mobile!</Media>`

When I try the render props implementation
[code]
I get a console warning:
`Warning: Did not expect server HTM

[2020-12-15 12:36] alloy commented on #165
It's been a while for me, but this _could_ be expected behaviour. i.e. the server sends markup for all breakpoints, whereas the the instantiated React/Fresnel app determines it only needs to render a single breakpoint. This then means that the ReactDOM renderer encounters content in tags [for other breakpoints] that it would not render and thus warns. Can you verify this and that it is in fact doi

[2020-12-15 21:06] freznosmooth commented on #165
Yeah makes sense and actually when I run Next.js build and view built app this console warning is no longer there, It only shows when running in app in dev mode.

Maybe this is not an issue after all :)

[2020-12-16 01:13] #165 closed

[2021-01-08 19:11] smithki opened #166 "Expose a `useMedia` hook"
I've found myself loving Fresnel for responsiveness, but I still miss the flexibility of `window.matchMedia` to access breakpoints using a React Hooks pattern. However, I think there's a way to map this functionality to Fresnel's approach!

Let's say `@artsy/fresnel` exposes a `useMedia` hook from the result of `createMedia`, like so:

[code]

Then, from any functional component that's nested with

[2021-01-08 19:14] damassi commented on #166
One thing that this would impact is SSR rendering, as outlined in the ["Why not conditionally render"](https://github.com/artsy/fresnel#why-not-conditionally-render) section of the docs. That said, I think this hook could have some value.

@alloy @zephraph, y'all have any thoughts?

[2021-01-08 19:41] smithki commented on #166
If `useMedia` is relying only on the props of a `<Media>` component higher in the tree, would this still pose a problem?

[2021-01-14 21:53] zephraph commented on #166
@smithki it would be a problem, yeah. The challenge here, is during SSR we don't know which breakpoints we're rendering for so we render _all_ the breakpoints and use media queries to control which is displayed or not. Essentially, the best we could do here on the server is make everything true to render all of those components or make everything false to render none of them.

That's why we have t

[2021-01-14 22:06] smithki commented on #166
I think for the use-case I described it shouldn't be a problem that `useMedia` will always return `true` in the server, because those components are being rendered anyways as they are wrapped with `<Media>` somewhere higher. What I'm proposing is not necessarily a "real" media query hook, but rather an interface for functional components deeper in the tree to know _which props_ exist on the neares

[2021-01-14 22:54] damassi commented on #166
So like, the question is how to programmatically represent this node structure 🤔:
[code]

[2021-01-18 05:43] R-Bower commented on #166
I've used the logic of the <Media> component to populate Redux with the current breakpoint.  It's relatively simple, albeit somewhat contrived as it only populates the breakpoint in Redux after the browser has already loaded.  It's not perfect, but it works for my use cases.  Try rendering this near the root of your application's tree.

[code]

[2021-01-19 11:07] alloy commented on #166
I agree that functionally it seems like the bits are there, perhaps an initial naive PR would better show if there are issues being overlooked, but the thing that worries me is making it too easy to shoot yourself in the foot by making it easier to do `if … else …` type of rendering.

Your example does the right thing, but it doesn’t seem far-fetched to imagine that somebody naively would write th

[2021-01-19 11:09] alloy commented on #166
I’m trying to think this all through and wondering if the `if … else …` pattern matters if the hook is required to be used inside a `Media` component, rather than `MediaContextProvider`. Perhaps this is where our shared understanding is lacking?

[2021-02-10 13:21] zakariamofaddel opened #168 "Warning: Prop `className` did not match. on NextJs"
**Warning: Prop `className` did not match. Server: "MuiButtonBase-root MuiIconButton-root makeStyles-prevIconButton-29" Client: "MuiButtonBase-root MuiIconButton-root makeStyles-prevIconButton-20"**

This is the warning I started getting once I created different header for two different breakpoints using the <Media> component. When this warning pops up, it breaks all the CSS in the application.

I

[2021-02-10 17:43] damassi commented on #168
What happens if you wrap `AppBar` and `motion.div` in an outer component? What happens when you wrap `<Media greaterThan="md">` in an outer component?

[2021-02-10 22:19] zakariamofaddel commented on #168
I'm not sure what you mean by "outer component", you mean using this method to avoid having an underlying div?
[code]

[2021-02-10 23:32] damassi commented on #168
I was wondering about this too!

What I meant is:

[code]
Basically just playing with the overall structure a bit to see if that leads to any changes. SSR rehydration issues can be tricky to diagnose.

[2021-02-11 08:24] zakariamofaddel commented on #168
I tried changing the structure in different ways, but with no success.
I'm starting to think that it's probably more of a material UI problem that doesn't work correctly with fresnel and keeps creating duplicate classNames.
I will keep trying to debug and update here if I find any solution for my use case!

[2021-02-11 14:57] #168 closed

[2021-02-11 17:16] damassi commented on #168
Glad you found a solution @zakariamofaddel -- SSR is tricky!

[2021-02-12 19:47] erikdstock opened #170 "Accept string breakpoint values"
It's a fairly common pattern for packages like [theme-ui](https://theme-ui.com/theme-spec#breakpoints) to accept breakpoints as string values. In the past I've gotten around this with something like:
[code]
This only works for a `px` breakpoint scale, leading to broken styles on the client if using an alternative scale like `rem`. Any reason we cannot accept string values for the `breakpoints` obj

[2021-03-01 07:06] spykr commented on #170
Ditto. We would've loved to use this library but we're using `em` units for our breakpoints so it won't work.

[2021-03-05 13:07] alloy commented on #170
I don’t see a reason why we couldn’t support string values. I'd like to see a PR that parses the inputs as ints, internally uses those ints, and outputs values with the original unit.

[2021-03-29 16:46] jdesherlia commented on #19
@alloy have you looked at this any further? I am hitting this issue hard right now. We have used the render prop successfully for very nested DOM elements, but when trying to use it to omit containers for our large `section` elements, it seems to get confused in a full build as to which elements should be rendered with which props. Seems like navigating to a different route corrects the issue, but

[2021-04-26 02:56] chrissantamaria opened #174 "Use gatsby-plugin-fresnel in examples"
👋 really been enjoying using this lib! The included Gatsby example was nice, though I personally wanted something simpler for my own projects so I created [gatsby-plugin-fresnel](https://github.com/chrissantamaria/gatsby-plugin-fresnel). At its core it's doing the same sort of style injection as the current example, though its usage is much simpler.

If you'd like, I'm happy to make a PR to promot

[2021-04-28 18:11] damassi commented on #174
Hi @chrissantamaria 👋 feel free to open a PR with a link to your plugin in the readme! We can add something to the paragraph after the bullets here: https://github.com/artsy/fresnel#example-apps

[2021-04-28 18:14] chrissantamaria commented on #174
Sounds good! Want me to update the Gatsby example as well or would you prefer for that to stay as-is?

[2021-04-28 18:32] damassi commented on #174
Lets keep it as is! It nice to have everything all self-contained so that other devs can easily see how the parts fit together. But the new gatsby plugin sweet, thanks for creating that 👌

[2021-04-28 20:48] #174 closed

[2021-04-28 20:50] artsyit commented on #174
:rocket: Issue was released in [`v1.4.0`](https://github.com/artsy/fresnel/releases/tag/v1.4.0) :rocket:

[2021-04-29 15:07] spyshower opened #176 "Doesn't work with NextJs"
The library used to work fine with NextJs but since 10 or 10.1 (I think) it stopped working. Today I tried that again with the new releases of both packages but it still doesn't. What I mean by that is that both of the following get rendered:

[code]

[2021-05-06 16:04] danielsimao commented on #176
Works for me and Im using v.10.1.3

[2021-05-06 16:15] spyshower commented on #176
Do you mind sharing your code, good sir?

[2021-05-07 08:25] danielsimao commented on #176
It works but not on the server side.

[2021-05-07 16:46] damassi commented on #176
Hi @spyshower and @danielsimao - will give this a look today

[2021-05-08 00:15] #176 closed

[2021-05-08 00:16] damassi commented on #176
Please pull down the latest example app and give it a spin. Worked great over here; we needed to update deps to latest.

[2021-05-08 07:52] spyshower commented on #176
I actually forgot to wrap my app with `MediaContextProvider`. I will go hide at my little corner now.

[2021-05-08 15:11] damassi commented on #176
Ha! I should have asked that first 😄 Happy its now working for you 👍

[2021-05-09 09:49] gineitis-fsd opened #178 "`<img>` and `<video>` tags in media queries"
When using media queries to load different images or videos per viewport, correct assets are rendered in browser but all of them are being loaded which is a performance issue.

E.g.:

[code]

(This particular example could be solved by using `<picture>` tag instead but the problem persists in case of using `<video>` tag or [Next/Image](https://nextjs.org/docs/api-reference/next/image))

In this ca

[2021-05-10 04:26] damassi commented on #178
cc @dzucconi - have you run into a solution to this before?

[2021-05-10 15:02] dzucconi commented on #178
My understanding of the issue here is that the image srcs are in the server rendered markup (which of course is the point) so they are going to get fetched despite being immediately unloaded in the non-matching branches.

Making them lazy-load *should* fix the loading issue — so I'm a little surprised that the issue would persist with Next/image unless lazy-loading is turned off.

Similarly, while

[2021-05-15 19:11] beatyt opened #179 "WebpackError: Minified React error #130"
When running a webpack build, I'm seeing the below

[code]

[2021-05-17 14:33] #179 closed

[2021-06-07 18:48] redbar0n opened #183 "Compatibility with React Native Web + NextJS"
https://github.com/necolas/react-native-web/issues/1688#issuecomment-666079080

### 1: The wrapping DOM element

RNW [has deprecated](https://github.com/necolas/react-native-web/issues/1318) all uses of the `className` prop (since RNW's `style` will overwrite it). But Fresnel uses the `className` prop ([Media.tsx](https://github.com/artsy/fresnel/blob/fa0ff2920a14bad9f33a7f3b687fc3318a5e1fa4/src/M

[2021-06-07 20:01] redbar0n commented on #166
what if `atSm` were used within `<MediaContextProvider>`, but you run multiple passes of rendering, alternating `atSm` so it is both true (first pass) and then false (second pass), and then join the rendered layouts together afterwards (so all layouts are still shipped to the client)? I imagine you could then do:

[code]

Which would output all the breakpoints:

[code]

So the interesting case fro

[2021-06-07 20:27] redbar0n commented on #166
This way, you could avoid `<Media>` components altogether, and the [sometimes problematic](https://github.com/artsy/fresnel/issues/147) extra DOM nodes that they inject. By [applying attributes to all the elements](https://github.com/xiata/fresnel/commit/0d41d70e547d8cac26d33daea7342dda55a02f27) instead.

The final output being:

[code]

Which Fresnel could target using a CSS attribute selector li

[2021-06-08 07:25] fadi-mimi opened #184 "SSR | Render props hyration issue"
I have the same issue as #165. This ticket was closed but actually this is a serious hydration error. Because the `renderChildren` is `true` on the server and `false` on the client for the specified breakpoints. This leads to a is a mismatch. As pointed out in the other issue in the <Media> component this is working fine. The warning is not shown in production because React suppresses all the warn

[2021-06-09 16:53] damassi commented on #184
Hi @fadi-mimi, thanks for the issue. If you have a moment to put together a PR with a solution that would be greatly appreciated 🙏

[2021-06-09 16:55] damassi commented on #183
Thanks for the detailed issue @redbar0n. Happy to give a PR for this feature a good look and guide it to completion, but unfortunately we don't have the resources to work on any big new Fresnel additions right now.

[2021-06-10 11:33] fadi-mimi commented on #184
I made a PR to reproduce the issue. The test was already there and skipped. There was the problem with the breakpoint which was mocked before the server rendering. But this is not the case in reality since these are just defined on the client. So I did the mocking after the server rendering and the error occurs as expected.

This is quite a huge change architectural wise and I don't have the feeli

[2021-06-10 15:29] redbar0n commented on #166
Some potential inspiration: [useMediaQuery](https://material-ui.com/components/use-media-query/)

[2021-06-11 16:38] redbar0n commented on #183
I understand. I don't have time to work on this myself now either, but maybe some time in the future.

Btw, with respects to the API, then a `size` prop might not be such a good idea, if wanting to future-proof RNW support which supposes it's own API. It is better to follow something like [react-primitives](https://github.com/lelandrichardson/react-primitives#what-is-this) which mirrors RNW's API

[2021-06-22 20:26] saeedPadyab commented on #184
Hey @fadi-mimi hope you'r doing well. any news from your PR. I hardly need your PR if it is solved the miss-match issue.

[2021-06-22 20:33] damassi commented on #184
Hey all, sorry for the delay. Things are very busy over here right now. We'll happily accept PRs to fix issues but unfortunately, short of that, this issue will have to wait.

[2021-06-22 20:39] engineerahkhani commented on #184
Hey @fadi-mimi, the Same issue for me, do we have to wait long?

[2021-06-22 20:43] saeedPadyab commented on #184
thanks for your respond quickly. to be honest i am going to use common way css display property if it is going to take more than one week. what is your idea?

[2021-06-23 03:50] Godsenal commented on #184
I think `<Media />` component set `suppressHydrationWarning = true` to wrapper element  because of this kind of warning. But when use renderProps, `<Media />` doesn't render any wrapper element so can't set `suppressHydrationWarning`.

https://github.com/artsy/fresnel/blob/master/src/Media.tsx#L470-L476

I think this might be cause side-effects of the child components. If we render child component

[2021-07-01 08:09] fadi-mimi commented on #184
Setting `suppressHydrationWarning` is of course no solution, but just hides the problem. The solution is to introduce a state in the component that is set to true on mount and only then hides the elements. I will work on a PR for this.

[2021-07-04 20:52] pablo1v commented on #170
I agree with that!

[2021-07-06 10:13] tommy92 commented on #135
I can see the same issue, so it still occurs...

[2021-07-18 05:07] #170 closed

[2021-07-18 05:09] artsyit commented on #170
:rocket: Issue was released in [`v1.8.0`](https://github.com/artsy/fresnel/releases/tag/v1.8.0) :rocket:

[2021-07-18 15:27] karanmartian opened #192 "How to render based on a JS client side variable alongside this package?"
Hi,

Great work on this. There is a parallel problem that I am facing.

The issue is that I render a slightly different Header navigation bar after checking if the user is logged in or not. But I cannot know this on the server side. So I get a hydration warning when doing server side rendering. I am using this alongside your package which allows me to show the navigation bar is collapsed or expand

[2021-07-19 00:24] spykr commented on #170
Does the project now support using `em` and `rem` based breakpoints? It's not clear to me looking at the PR.

[2021-08-01 15:08] KeitelDOG commented on #183
Meanwhile, is there a way to add CSS to a Media via `style` attribute? I see it's only possible with `className` and I have to inject CSS in `<style>` tag at some place. But the normal RN style is not showing anything on `<Media>` component.

[2021-08-01 20:11] KeitelDOG commented on #183
Ok I see How in the documentation, you have to output your own component instead of passing it as child to avoid the media generated div.

[code]

[2021-08-23 14:36] alloy commented on #170
Hmm, it doesn’t look like it takes into account the input unit indeed. Mind sending a PR to add that?

[2021-09-20 18:34] carpenjk opened #208 "Child nodes are missing at certain window widths with Next JS"
Using the Next JS example, the child nodes are not rendered when window is set to certain widths.

**Environment**
Browsers: Firefox, Chrome
Framework: Next.js 11.1.2 and 10.0.3 (only versions tested)

**Description**
Resizing the window resulted in flickering which upon further review resulted in certain window widths in which the child node was not rendered even though the artsy fresnel wrapper

[2021-09-20 19:11] damassi commented on #208
Would you mind pasting the screenshot directly into the issue? That file format is unrecognized.

[2021-09-20 19:19] carpenjk commented on #208
My apologies.  Reuploaded the screenshot as [screenshot](https://github.com/carpenjk/test-artsy-fresnel/blob/main/screenshot.jpg)

[2021-09-22 09:47] trannamquan commented on #208
I think the solution is need to provide 0 break point. I faced the same issue and adding a break point `xs: 0` solve the problem

[2021-09-22 18:15] damassi commented on #208
Yup, that's the issue: https://github.com/artsy/fresnel/blob/master/examples/nextjs/src/media.tsx#L5

Its a somewhat strange attribute of Fresnel how the breakpoints start from 0.

[2021-09-22 18:50] carpenjk commented on #208
I believe this issue should be reopened as the media file with the 0 breakpoint is the source file used to produce the issue, in which case it cannot be the resolution.

[2021-09-22 18:53] damassi commented on #208
We can reopen, but in that case I'm not following [this comment here](https://github.com/artsy/fresnel/issues/208#issuecomment-924765108) in which you said it solved the problem? Mind elaborating a bit?

[2021-09-22 18:57] carpenjk commented on #208
It looks like you are referring to a comment from a different user who may have experienced a similar, but different issue.

[2021-10-08 07:03] adrenaline681 opened #213 "Getting a isMobile variable to be able to do small logic operations"
Im enjoying the "React" way of turning components on and off by wrapping them in the <Media> component.
Sometimes I'm missing the ability to toggle add some small logic for example to change text or a value inside of a prop:

For example I have a component that says "Click me to receive a price" on Desktop, but on mobile is too long and I want it to just say "Receive a price". I would prefer not t

[2021-10-14 12:15] Meemaw opened #217 "Issue with interaction prop"
Hi, thanks for this great library 👍

I've been trying to use the `interaction` prop, and I'm having some issues.

We're defining our `Media` component like this:

[code]

After, we've wanted to show something only if the device supports hover. I would expect this to work on desktop, but it doesn't:
[code]

I can see the following styles applied in browser:
<img width="566" alt="Screenshot 2021-10-

[2021-10-19 14:11] always-maap opened #218 "Total Blocking Time increases by 10x"
Hi. Thanks for the great library and blog. Replacing useMediaQuery hook helped the FCP and TTI a lot. but it increases the TBT by 10x which is important as well. I want to keep using this library. Do you know why the TBT increases?
The code is the same just replacing useMedia with `<Media/>` in separate branch.

## Before
`useMediaQuery` and this code in _app

[code]

![photo_2021-10-19_17-24-46](

[2021-10-19 14:19] always-maap commented on #218
I have an idea which blocking the whole content in `Before` is the reason of TBT being 0 and the true value is `after`. Am I right?
Also any advise of making the TBT better in this approach is welcome. thanks a lot <333

[2021-10-28 01:59] #218 closed, assigned to nobody

[2021-11-03 15:20] Meemaw opened #220 "Prop to override container element"
Hi 👋

We would like to override the underlying container element that the `Media` component renders, e.g. `container="section"` or even `container={MyComponent}`. Relevant code: https://github.com/artsy/fresnel/blob/master/src/Media.tsx#L478

Would you be open to this change? If so, I can prepare a PR.

[2021-11-04 21:03] tb-campbell commented on #208
We are running into this as well but it isn't reproducible on every computer. We've narrowed it down to being caused by high DPR/scaling for displays - this results in fractional pixel values rather than whole numbers for the window width, which in turn causes the matchMedia API to return false for all breakpoints (e.g. 767.5px is not <= 767px OR >= 768px).

Long term, the solution is to use Range

[2021-11-05 08:16] always-maap opened #221 "Cannot convert undefined or null to object"
Hey @damassi. I'm getting this error for a couple of days now. I created a repo to showcase the error. if you help me I can work on the PR. I have no idea why this error even occurs.
I'm trying to create a dynamic ISR in Nextjs. It's working in dev mode but when I build and serve it, I get this error. The code is based on the Nextjs example provided.

[code]
I added README for reproducing.
https:/

[2021-11-05 17:05] #221 closed

[2021-11-06 06:20] PegasisForever commented on #208
@tb-campbell Can you share how exactly you applied the fix? (which file to change)

[2021-11-07 04:45] tb-campbell commented on #208
@PegasisForever I opened a PR with the changes (see the above mention)

[2021-11-07 04:55] #208 closed

[2021-11-26 09:13] DanaCoding opened #227 "Suggested usage"
1. Use at the page level: then I may need to write multiple component files.
2. Use at the component level: Does it have an impact on performance?

Does anyone have any good suggestions?

[2021-11-27 05:31] damassi commented on #227
Could you elaborate a bit? I'm a bit unsure of what you're asking.

[2022-01-02 11:29] deelobase opened #234 "Deploy your app for free 🚀"
Hey @artsy, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deelo.

[2022-01-27 02:59] bannier opened #244 "How is fresnel different from plain media queries ?"
Hi, if I understand correctly fresnel is a jsx wrapper around media queries. Nothing else fancier preventing work on the browser side. Am I right or have It missed something ? (No troll here, I'm just honestly trying to understand if I missed the point)

[2022-01-27 04:54] damassi commented on #244
Yup! just a simple [media query](https://github.com/artsy/fresnel/blob/main/src/MediaQueries.ts#L31-L38) set underneath. Because we spit out a handful of regular css media queries for the various breakpoints, the browser respects the layout during the server-side render pass, so when the client loads and the page rehydrates, there's no shifting of the layout.

[2022-02-01 16:57] dawidk92 opened #245 "Proposal to add `isReversed` prop"
I have a breakpoints like:
[code]

When I want to show version A of my JSX between breakpoints `m` and `xl` it looks like that:
[code]

and when I want to show version B in another case it looks like that:
[code]

Finally my code looks like:
[code]

It would be nice to have some prop (e.g. isReversed) which would reverse the constraints, so above code would look like:
[code]

[2022-02-01 17:50] xiata opened #246 "Feature request: <Media at> to support an array of breakpoints"
### The Problem

Right now it appears `at` only supports a single string value, where I would like it to support multiple values if it can do it's magic that way. Being able to do something like `<Media at={['sm', 'lg']}>...</Media>` would be nice. I cannot use between, lessThan, or greaterThan for my usage because the breakpoint list is not a fixed list.

## But Why

I have built a HOC that autom

[2022-02-01 18:10] damassi commented on #246
In this case, i would highly recommend using styled-system's approach to media queries, where you can pass in arrays. https://styled-system.com/responsive-styles. Many different libraries now support this approach, including Artsy's [design system Palette](https://palette.artsy.net/guides/responsive/).

In fact, at Artsy, we mostly just use responsive styles, and the only time we use Fresnel is wh

[2022-02-01 18:15] xiata commented on #246
Whoa, why so fast to close this issue? Note that these props with device specific overrides _may_ be related to styles, they could also be used to change the rendering behavior completely. This is why I am not using `styled` to do this, as different prop values in some situations result in different react components being used.

Sigh. I'll guess I'll take a poke at the source.

[2022-02-01 19:06] damassi commented on #246
Ah, sorry for closing so soon! Can reopen. But just a heads up we'll accept PRs, but don't have the resources to work on feature recommendations.

[2022-02-02 10:01] tomaszczura opened #247 "Components in Media rerenders if parent of MediaContextProvider rerenders"
I found a problem with unnecessary rerenders. When component where `MediaContextProvider` rerenders, all components wrapped in `Media` also rerender, even if nothing has been changed. It can be fixed by adding `memo`, but maybe it could be fixed inside `Media` element? Especially that even if component where we put `Media` does not rerender, children of `Media` do.

 Check this link: https://codes

[2022-02-08 01:18] dwilt commented on #247
@damassi looking to contribute potentially here... any reason why you guys went with class based components instead of hooks?

[2022-02-08 04:31] dwilt commented on #247
@damassi would love a review

[2022-02-08 04:53] damassi commented on #247
@dwilt - We released this library right around the time that hooks were released and simply never got around to refactoring it. It's worked well for us and hasn't caused any issues! If were to rewrite it we'd definitely be using hooks however.

[2022-02-08 04:55] #247 closed

[2022-02-08 04:57] artsyit commented on #247
:rocket: Issue was released in [`v3.2.2`](https://github.com/artsy/fresnel/releases/tag/v3.2.2) :rocket:

[2022-02-15 08:45] ErfanAsadi commented on #227
I have a similar question too,
Utilizing fresnel instead of other media tools bring benefits for SSR application.
But when you want to choose which library to use, you must analyze different aspects of it. I reckon that @DanaCoding's question is something similar to mine.
What is your suggested usage of fresnel?
Only use it in parental components such as pages and have different layouts ?
if yes,

[2022-02-15 17:27] damassi commented on #227
You can use it any way you want! But more in general, see our blog post on how we do it at Artsy: https://artsy.github.io/blog/2019/05/24/server-rendering-responsively/

The TLDR is, we stick to only using it when theres a significant change in layout.

[2022-02-15 17:27] #227 closed

[2022-02-15 18:46] damassi commented on #245
Would be happy to evaluate a PR, but for now this library's API is mostly feature complete.

[2022-02-15 18:46] #245 closed

[2022-02-15 18:46] #244 closed

[2022-02-15 18:48] damassi commented on #220
Note that we have a classProperties API that supports that [here](https://github.com/artsy/fresnel#media), but we'd be willing to accept a PR that accepts a component as a prop, in which case we can open this issue back up.

[2022-02-15 18:48] #220 closed

[2022-02-15 18:50] damassi commented on #192
Yeah, there are patterns to support managing this flow from outside of the library.

[2022-02-15 18:50] #192 closed

[2022-02-15 18:55] damassi commented on #183
Closing. Will reopen if activity resumes here.

[2022-02-15 18:55] #183 closed

[2022-02-15 18:55] #145 closed

[2022-02-15 18:56] #91 closed

[2022-02-15 18:56] #24 closed

[2022-02-18 12:49] gurkerl83 opened #260 "Breaking change with latest React experimental builds"
Hi, I have used this library for a while now, also adopting React 18 using their experimental builds. The latest refactorings in Reacts hydration handling approach (including throwing errors when the content of a component does not match anymore) indicates a breaking change towards fresnels idea of sending variants of an element (desktop/mobile) prepared by a server back to the client.

Testing th

[2022-02-18 18:07] damassi commented on #260
Thank you so much for this report @gurkerl83! We'll look into it, and if you have any suggestions for implementing a fix we will happily accept PRs 🙏

[2022-02-28 10:43] gurkerl83 commented on #260
I did some digging into the recent changes in React and may have been able to identify the problem.

The initial report from above describes an error thrown when server-side generated components no longer match those on the client-side. This change of application behavior was introduced in the following commit.

https://github.com/facebook/react/commit/3f5ff16c1a743bce3f3d772dc5ac63c5fd2dac0a

In

[2022-02-28 17:11] damassi commented on #260
Thank you @gurkerl83 for the digging 🙏

[2022-04-01 10:29] KrustyC commented on #260
is there any update on this, or anything I could help with? I am facing the same issue after an update to React 18 (I am using NextJs)

[2022-04-01 11:11] gurkerl83 commented on #260
Hi, unfortunately I have sad news, the final version of React 18 no longer supports the approach used in Fresnel (prepare multiple variants of a component on the server, send both to the client and select the respective variant on the client). In React, this very selection performed at the client is called DOM patching.

In my opinion, the way this so-called DOM patching is now implemented in Reac

[2022-04-01 19:19] damassi commented on #260
Will update the README with a note next week after I get back from OOO, thanks again for the research 👍

[2022-04-06 13:53] dmitryshelomanov commented on #247
@artsyit not fixed. A have render on each screen change (without debounce) is it normal ?

[2022-04-06 15:46] damassi commented on #247
@dwilt - can you confirm that the issue was fixed?

[2022-04-06 16:26] dwilt commented on #247
@dmitryshelomanov Here is a codesandbox showing that when the top provider re-renders, the `Media` components down the tree do not. Can you elaborate more on what you are seeing?

https://codesandbox.io/s/optimistic-glitter-oi1um2?file=/src/App.tsx

[2022-04-12 21:12] alloy commented on #260
@damassi Would be good to at least try if what Dan mentions [here](https://github.com/facebook/react/issues/23381#issuecomment-1096899474) actually works. As he mentions, though, it’s not intended to be used that way.

[2022-04-13 15:40] majkl-zumberi opened #271 "could not build nextjs due to typescript error"
hi i noticed that my nextjs project fails to build due to a typescript error related with fresnel:
`Type '{ children: Element; }' has no properties in common with type 'IntrinsicAttributes & MediaContextProviderProps<"sm" | "md" | "lg" | "xl">'`

is it resolvable
![Schermata 2022-04-13 alle 17 40 23](https://user-images.githubusercontent.com/55061118/163218157-673dfa09-7c1d-4039-8119-7e8c229730df.

[2022-04-14 12:12] majkl-zumberi commented on #271
Ended up solving up myself, it was a nextjs typescript version that caused this error.
For those facing the same problem just force the version in `package.json`

[code]

[2022-04-14 12:12] #271 closed

[2022-04-14 15:26] gurkerl83 commented on #260
First attempts to solve the problem draw a smile on my face.

I follow the second option suggested by Dan.

Necessary steps
1. wrapping trees in <Suspense> (which defers their hydration)
2. update state to delete the extra variants before they have a chance to hydrate.

Where the adjustments are necessary?
1. a change in fresnel is required
2. can be implemented in the application code by the user

[2022-04-14 16:41] cherryrap commented on #156
I have the same problem and it's affecting SEO badly. There should not be other components in html code, but they do appear. Does any one know how to overcome this issue of this library or may be someone knows other library/trick.technology to use other than fresnel?

[2022-04-14 16:48] cherryrap commented on #184
Does anyone know if the PR was introduced?

[2022-04-14 16:48] damassi commented on #260
Awesome @gurkerl83! Thank you for digging into this 🙏

[2022-04-16 14:37] gurkerl83 commented on #260
Using this approach in render props, Fresnel is compatible with React 18, requiring customization only in the application code.

The other option of a dedicated div has yet to be elaborated on, but I suspect that the approach shown can work there.

A better option is, of course, to hide this coupling of second suspense barriers from the application code, but that can be done later. At this point,

[2022-05-05 06:54] KarthikeyanRanasthala commented on #260
Any update on this? :(

[2022-05-06 08:32] gurkerl83 commented on #260
Unfortunately not :(

[2022-05-06 17:19] damassi commented on #260
Unfortunately things are very busy over here ATM. Will happily review/accept PRs for this approach, and we can discuss more over there 👍

[2022-05-20 12:52] byara commented on #221
hey @always-maap I got the same issue, did you manage to fix this?

[2022-05-20 15:38] always-maap commented on #221
Hi behrang. Unfortunately I can't remember what we've done for it.
btw thanks for working on prettier-plugin-sort-imports. been using it everywhere. huge respect <3

[2022-05-20 16:44] thomasboyt commented on #221
I started getting this bug when running Fresnel in a SSR'd (not prebuilt) Next.js app after updating to Next.js 12.1.6. Reverting back to 12.1.5 fixed it.

This appears to be related to this CSS issue in Next.js: https://github.com/vercel/next.js/issues/36675

Using the 12.1.7-canary.4 version which contains a fix for that issue has fixed this Fresnsel crash. It's probably best to stick with 12.1.

[2022-05-23 07:20] byara commented on #221
@thomasboyt Thanks! Updating to 12.1.7 canary solved my issue 👍

[2022-06-01 12:15] JensMou commented on #260
Any updates on this? Or an alternative, that is not pure css? 🙏

[2022-06-06 19:52] gurkerl83 commented on #260
Hopefully, the following is not another false positive; it seems two things have to happen to resolve the compatibility issue.

A: A minor modification in fresnels sources.

The affected component is ResponsiveProvider in the file DynamicResponsive.

[code]

B: A Different approach to how the Media component gets consumed in the userland.

B.1: Add the following Suspender component

[code]

B.2: U

[2022-06-06 20:07] damassi commented on #260
That's a great question. Would you mind elaborating a bit on what the `Suspender` component does in this case?

And in your example `B.4`, does that component live within `<Media>`? Ideally we don't need to change the API requirements and if an interim `<Suspense>` boundary is needed in order to catch things I don't think it's that much of a problem to include it within the library. The problem ho

[2022-06-06 21:13] gurkerl83 commented on #260
@damassi React 18 does not remove unmatched elements when server and client components differ during the first hydration attempt anymore. This was the default behavior before React 18; unfortunately, they are more strict now.

The general idea is to suspend the component that does not match the current breakpoint condition before the initial hydration attempt gets executed; the Suspender component

[2022-06-06 21:41] damassi commented on #260
Thanks for the overview @gurkerl83 👍

A couple things:

1) One issue is the primary webapp using Fresnel will need some fairly major refactoring before we can upgrade to React 18 and until that happens we're effectively blocked. Meaning, I'm hesitant to give the go ahead on this without the ability to test it properly in our codebase.

2) I'll be heading out for some long-ish summer OOO in the com

[2022-06-24 08:27] 7iomka opened #280 "Not working with latest version of next.js when page use GSSP / GIP"
To see error, just upgrade to latest next.js in project from examples
Seems, something changed, and, although I use react 17, dynamicConext seems to be undefined if page is server-rendered.
To reproduce, just add Page.getInitialProps or export getServerSideProps.
As a workaround, I forked this package, and removed all code related with dynamic context,  rewrited Media component from class to funct

[2022-06-26 19:05] filipizydorczyk opened #281 "Typescript issue in functional component"
Hello!
I just started to use this library and immediately run into types issue. When i put this code

[code]
And I try to use `Media` and `MediaContextProvider` as react elements in my functional component

[code]
I get this error messages

[code]
and same error for provider

[code]
I have no idea why its happening but I did manage to cheat typescript. I just wrote these asserions

[code]
Then err

[2022-07-02 12:36] ayepRahman commented on #260
Hi there, i've recently used the latest next.js which uses react v18. would love to contribute on this

[2022-07-05 10:24] IRelaxxx commented on #281
I had the same problem. My solution was to downgrade @types/react and @types/react-dom to

[code]

[2022-07-06 00:59] murrowblue22 commented on #260
hey guys any updates? would greatly appreciate any help as I too am impacted by this issue

[2022-07-10 21:25] issa-me-sush commented on #221
faced the same issue with multiple versions of next.js, upon upgrading to the latest (if faced with errors or conflicts "npm i next@12
 --save --legacy-peer-deps" could help), I could finally build and start!  thank you for sharing insights, was struggling for a good while with this issue ! cheers! 🍻

[2022-07-11 06:25] lobarevk commented on #221
Glad for you to solve the problem, but for me it didn't work.

"dependencies": {
    "@artsy/fresnel": "^3.5.0",
    "next": "^12.2.2"
}
Tried "npm i next@12--save --legacy-peer-deps", still I have "Cannot convert undefined or null to object"

[2022-07-11 07:04] issa-me-sush commented on #221
is it due to @artsy/fresnel  itself? also could you share a snippet of the error, so I was facing the issue with just one module, thus I had to upgrade my Next to the latest version,once I did that both build and start (production build) were functional and I could finally deploy it on netlify. also dont start with the legacy peer deps flag, start with just installing the latest next,  if it doesn

[2022-07-11 07:13] lobarevk commented on #221
The issue is in a conflict between artsy/fresnel and NextJS 12+.
Interesting that it works in dev-mode, but not in build-mode. So maybe it is something about Next optimization.
The error snippet is bellow

TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at Object.children (\node_modules\@artsy\fresnel\dist\Media.js:124:43)
    at a.b.render (\node_modul

[2022-07-11 07:59] issa-me-sush commented on #221
"@artsy/fresnel": "^1.9.0",
"next": "^12.2.2",
"react": "^17.0.2",
"react-dom": "^17.0.2",

according to the package page : https://www.npmjs.com/package/@artsy/fresnel , "Due to React 18 more strictly handling server-side rendering rehydration this lib is now imcompatable with any version greater than 17.", might wanna check these out and try downgrading react version first and then maybe if stil

[2022-07-26 22:22] EmilioAiolfi commented on #260
@damassi or someone have a some news about this problem?

[2022-07-26 22:28] damassi commented on #260
No news unfortunately. Will gratefully accept PRs to fix the problem!

[2022-08-06 23:11] gurkerl83 commented on #260
Have figured it out, I will share something next week!

[2022-08-07 04:48] damassi commented on #260
Amazing 🙏

[2022-08-09 16:05] gurkerl83 commented on #260
I post the required strategy first. The solution is all about suspense, in combination with a few instruments to suspend unmatched components in the proper order. Please read the comments made in the components carefully and provide feedback.

SuspenseWrapper
[code]

Suspender

[code]

[2022-08-09 17:09] damassi commented on #260
Hi @gurkerl83 - I will take a look at this today!

[2022-08-09 17:16] gurkerl83 commented on #260
Hi @damassi - A few things I have not posted is the className generator respectively, the use-theme hook, but this is not required to understand the overall strategy.

[2022-08-09 17:18] damassi commented on #260
@gurkerl83 - would you mind posting a Gist with all of the code? I'll put it together over here and see how things work in our app.

[2022-08-09 17:24] gurkerl83 commented on #260
@damassi I will create a git repo, but for reasons of time it has to wait until tomorrow.

[2022-08-09 17:56] damassi commented on #260
No need to create a whole git repo! Can even update the comment above with the full code. Just something with all of the moving parts and i'll take it from there.

[2022-08-09 18:51] gurkerl83 commented on #260
@damassi I have created the repo; hopefully, I have not overlooked anything. **The sources are in the lib folder**.

Important: The styles rely on sass (dev dependency). When you test the approach in your app, you must also install **sass**. Tomorrow I will add a small Next demo.

https://github.com/gurkerl83/fresnel-alternative

Thx!

[2022-08-09 22:46] damassi commented on #281
Unfortunately React 18 introduced a breaking change in TS where `children` is no longer available on `FC`. Will fix this now.

[2022-08-09 22:55] gurkerl83 commented on #260
Further testing does not show the reported NextJs anymore. Not sure what happened. I really can not reconstruct it anymore. The only thing I did was update my MacOS version to 12.5, but this is super wired!

[2022-08-10 00:03] damassi commented on #260
@gurkerl83 - I spent a day trying to work in your suspender and suspense components and was unfortunately unable to get it working with our current API. It's honestly a bit over my head! If you have some time to open a PR to adapt your solution into our lib that would be helpful.

In the meantime, for those reading, the best we can do to support React 18 SSR support is to use the `disableDynamicMe

[2022-08-10 00:26] damassi commented on #281
Fixed in https://github.com/artsy/fresnel/pull/287

[2022-08-10 00:26] #281 closed

[2022-08-10 00:28] damassi commented on #280
@7iomka - See [this section](https://github.com/artsy/fresnel#%EF%B8%8F-react-18-notice) in the README. Give the `disableDynamicMediaQueries` a try and see if that fixes your issue and if not, will reopen:
[code]

[2022-08-10 00:28] #280 closed

[2022-08-10 00:29] damassi commented on #184
See [this note](https://github.com/artsy/fresnel#%EF%B8%8F-react-18-notice).

Tracking the issue [here](https://github.com/artsy/fresnel/issues/260).

[2022-08-10 00:29] #184 closed

[2022-08-10 13:02] gurkerl83 commented on #260
@damassi Solved the integration problem; I will provide a PR later today. Please do not merge it immediately because we have to discuss the Media component child options. Right now, only the render prop variant is possible.

[2022-08-10 14:26] gurkerl83 commented on #260
@damassi The PR is here, when you have time please have a look, Thx!

https://github.com/artsy/fresnel/pull/289

[2022-08-10 19:15] damassi commented on #260
Will move the convo over there 👀

[2022-08-11 19:59] damassi commented on #260
For those tracking this issue, @gurkerl83 and I were able to get this working. Going to do a bit more testing over here and short of any big issues will issue a PR in a bit.

Note that there may be some required API changes incoming, but will try to smooth out a bit before release.

[2022-08-12 00:42] damassi commented on #260
Tracking https://github.com/artsy/fresnel/pull/290

[2022-08-16 00:06] damassi commented on #280
@7iomka official support just landed for React 18 here: https://github.com/artsy/fresnel/pull/290 and has been published as `@artsy/fresnel@5`. If you have a chance would you mind updating and reporting back here? NextJS issues should be resolved.

[2022-08-16 00:15] damassi commented on #260
React 18 support has been released! Install Fresnel v5 via `@artsy/fresnel@latest`. Thanks to everyone who has been patient 🙏

Please report back if you notice any further issues. We've tested in our our internal admin app which runs on Next.js and everything worked as expected.

[2022-08-17 06:41] damassi commented on #260
Update: After some further testing we noticed some issues with Next, specifically the error

I'm not sure why this was not appearing during testing of #290, but out of caution we backed out of the suspense integration, deprecated v5, published a v6 (😓) and are officially suggesting that folks use the approach as outlined in the README:

[code]

Many apologies for any confusion this may have caused

[2022-08-17 10:13] gurkerl83 commented on #260
@damassi I do not see such an error in my project. I use the latest Next version.

The project’s sources are here.

[2022-08-17 17:02] damassi commented on #260
I reset the codebase back to the state it was in here https://github.com/artsy/fresnel/pull/287, just before the suspense work was integrated. While the above doesn't solve the issue of the multiple effects firing for different breakpoints, it's "good enough" for many and perhaps most use-cases until a formal fix is in.

I'll continue to poke at your solution above, and I'm still (very) uncertain

[2022-08-18 09:11] Hadrien-Segeral commented on #260
Hi, jumping into the discussion to say that we also have this error with version 5.0.0 and 5.0.1.
`This suspense Boundary Received an Update before it finished Hydrating`
Our project use Next.js v12.2.5 and React v18.2.0. Tell me if you want more information or if I can help carry out tests.

[2022-08-18 09:57] gurkerl83 commented on #260
@Hadrien-Segeral Can you please share some code. Are you passing props in the component you use within the media component?

[2022-08-18 10:37] Hadrien-Segeral commented on #260
I was in the process of producing a minimal reproducible example and found that the error is due to the use of:
`useMediaQuery` from `@mui/material` which I assume conflicts with Fresnel version 5.0.x.

What's surprising is that using useMediaQuery anywhere in the code, whether in the root of the pages in _app.tsx or in a child component unrelated to Fresnel, causes the error to pop up.
Here is a

[2022-08-18 11:44] gurkerl83 commented on #260
I remember that using useMediaQuery from MUI did in fact relate to the problem mentioned. Not sure why but the implementation of the hook is rather complex. I have tested several alternatives, most of them seem to work.

[2022-08-18 11:52] gurkerl83 commented on #260
**I have no cycles or energy left for this topic.** I have provided a working solution was provided, and that's it. Maybe the React team will decide in the future to make Suspense for this use case simpler, but in the meantime, I will ignore any activity here.

[2022-08-18 17:28] damassi commented on #260
As a side-note, that Next.js hydration error can happen in a few different ways. We just ran into it in an unrelated area of the codebase around navigation transitions between pages. IMHO, React has created a complexity monster with Suspense, and they should have broken concurrency features out into a separate library. Maybe the DX will improve in a future version.

[2022-08-25 11:35] Geoff-Ford commented on #260
Was @gurkerl83's solution the only known potential fix? And do I understand correctly that this fix does work, just not when combined with MUI's `useMediaQuery`? (I'm assuming @damassi's comment above regarding other issues is referring to general issues with Suspense and not unique to using Fresnel with React v18)

Just curious if @gurkerl83's fix would help more Fresnel users than it would hinde

[2022-08-28 02:00] gurkerl83 commented on #260
We also use MUIs useMediaQuery combined with the solution provided and released in v5. I think enabling the noSsr option is essential; we do not experience problems with this setup.

[code]

https://github.com/project-millipede/millipede-docs/blob/9337bfce5ad32024e9643a794c012d57a357e27a/packages/app/layout/src/components/toolbar/HideOnScroll.tsx#L20

@Geoff-Ford I still believe the solution I hav

[2022-08-29 08:48] Geoff-Ford commented on #260
Thanks for confirming @gurkerl83. So I can lock Fresnel at v5 (not ideal for any future changes) and move forward with React v18+. Let's hope this use case gets more consideration from the React team in the future.

[2022-09-13 13:29] lobarevk commented on #221
It seems to be OK with Next v.12.3.0, but still I haven't realize what is the problem, so the problem may back with newer Next.

[2022-10-03 15:56] devtombiz opened #297 "Hydration warning in dev mode with Next.js"
**Context**:

- Next.js 12+ SSR site
- React 18+

**Issue**:

In dev mode (`yarn dev`) then I have a hydration warning: `Error: Hydration failed because the initial UI does not match what was rendered on the server`

But If I build and start the site (Using `turborepo`) with `yarn build` & `yarn start` then everything works great !

**Question**:

Any suggestion on how to remove/fix this warning i

[2022-10-08 13:39] JPaulDev commented on #260
How are any people using SSG/SSR getting react to work if not for the way fresnel does it? anything other than their(artsy / fresnel) way results in flickers of animations / components being added and removed etc no matter what you do.

Are many people just not using SSR/SSG with things like next? I just discovered fresnel recently.

[2022-10-09 18:21] damassi commented on #260
@JPaulDev - FWIW, our primary way of handing responsive SSR style stuff is via our component library Palette, which is built on top of styled-system. It uses the notion of responsive props: https://palette.artsy.net/guides/responsive/, which is by far the nicest / most lightweight way we've encountered to do this kind of thing.

That said, there are situations where we need a full, different layou

[2022-10-10 10:13] JPaulDev commented on #260
Thanks damassi that's actually a really useful article.

[2022-11-06 03:23] codansdevelopers commented on #297
I solve this problem just removing the ```Suspense``` wrapper. Follow example:

### Bad:
[code]

### Good:
[code]